version: "3.8"
services:
  zookeeper:
    image: bitnami/zookeeper:3.8
    environment: [ALLOW_ANONYMOUS_LOGIN=yes]
    ports: ["2181:2181"]
  kafka:
    image: bitnami/kafka:3.6
    depends_on: [zookeeper]
    ports: ["9092:9092"]
    environment:
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:9092
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=PLAINTEXT
  mysql:
    image: mysql:8.0
    environment:
      - MYSQL_ROOT_PASSWORD=rootpass
      - MYSQL_DATABASE=etc_traffic_db
    ports: ["3306:3306"]
    volumes: [mysql_data:/var/lib/mysql]
  redis:
    image: redis:7-alpine
    ports: ["6379:6379"]
  flink-jobmanager:
    image: flink:1.18-scala2.12-java17
    ports: ["8081:8081"]
    command: jobmanager
    environment:
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: flink-jobmanager
  flink-taskmanager:
    image: flink:1.18-scala2.12-java17
    depends_on: [flink-jobmanager]
    command: taskmanager
    environment:
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: flink-jobmanager
        taskmanager.numberOfTaskSlots: 2
volumes:
  mysql_data: